.header-block {
  align-items: center;
  box-shadow: 3px 7px 23px -5px rgba(0,0,0,0.55);
  justify-content: center;
  display: flex;
  height: 65vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  background-position: center;
  background-size: cover;

  &__buttons {
    display: flex;
    align-self: flex-start;
    position: absolute;
    left: 0;
  }

  h1 {
    color: #fff;
  }

  h1 {
    font-size: 42px;
    font-weight: bold;
  }


  &__center {
    text-align: center;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
