.login-block {
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.61);
  width: 40%;
  left: 30%;
  top: 15%;


    &__close {
  position: relative;
  left: 94%;
  font-size: 20px;
  width: 5px;
  height: 10px;
  opacity: 0.4;
  text-align: center;
  }
  &__close:hover {
  opacity: 1;
  transition: 1s;
  cursor: pointer;
  }


  .errors {
    margin-left: 20px;
  }

}
