.register-block {
  width: 50%;
  margin: 10px auto;

  &__header  {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__errors {
    margin-left: 20px;
    font-size: 12px;
  }
}
