.register-block {
  width: 60%;
  margin: 10% auto;

  &__header  {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__errors {
    margin-left: 12px;
    font-size: 12px;
  }
}
